<nav class="headfoot container">
    <div>
        <ul>
            <li>
                <img src="https://www.smilecdr.com/hubfs/SmileCDR_August2020/SmileCDR-White-Medium-TransparentBackground-0920.png" alt="Home">
                <a routerLink="/" routerLinkActive="active"></a>
            </li>
            <li>
                <a routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/questionnaire" routerLinkActive="active">Questionnaire</a>
            </li>
        </ul>
    </div>
</nav>